<!DOCTYPE html>
<html>
	<meta charset="UTF-8">	
		<meta name="SiteName" content="" />
		<meta name="SiteDomain" content="" />
		<meta name="SiteIDCode" content="" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>合肥市房产中介协会 </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="../media/css/normalize.css">
		<link rel="stylesheet" href="../media/css/public.css">
		<link rel="stylesheet" type="text/css" href="../media/css/emptmsg.css"/>
	</head>
	<body>
		<div class="is-header">
			<div class="m-gov">
				<a class="fl" href="http://www.ah.gov.cn/" target="_blank">今天是：2019年01月10日 星期四</a>
				<p class="fr"> 
					<a href="javascript:;" class="u-login">用户登录</a> 
					
				</p>
			</div>
			<div class="m-logo">
				<div>
					<img src="../media/images/logo.png" alt="" />
				</div>
				
			</div>
			<div class="m-nav">
				<div class="content">
			      <ul>
			        <li><a href="/" id="nav_home">首页</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">企业信息管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">从业人员管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">企业信用考评管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">从业人员信用考评管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">统计分析</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">系统管理</a></li>
			      </ul>
			    </div>
			</div>
		</div>
		<div class="is-main">
			<div class="m-employ">
				<div class="m-emhead">
					<h2>从业人员基本信息</h2>
					
				</div>
				<div class="m-pepmsg">
					<div class="headimg">
						<img src="../media/images/headimg.jpg"/>
					</div>
					<div class="detailmsg">
						<ul>
							<li><span>姓名：</span><span>韩银萍 </span></li>
							<li><span>性别：</span><span>女</span></li>
							<li><span>从业编号：</span><span>91120110730****26K</span></li>
							<li><span>从业机构：</span><span>我爱我家房产经纪有限公司</span></li>
							<li><span>执行类型：</span><span>经纪人协理</span></li>
							<li><span>证书编号：</span><span>0551-864***26</span></li>
						</ul>
					</div>
				</div>
				<div class="scan-box">
                    <span class="scan-text">扫一扫在手机打开当前页</span>
                    <img src="../media/images/code.jpg" alt="">
                </div>
			</div>
		</div>
		<div class="is-footer">
			<p>Copyright © 合肥市房产中介协会 All rights reserved.     <a href="">技术支持：商网信息</a> </p>
		</div>
	</body>
</html>
