<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">	
		<meta name="SiteName" content="" />
		<meta name="SiteDomain" content="" />
		<meta name="SiteIDCode" content="" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>合肥市房产中介协会 </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="../media/css/normalize.css">
		<link rel="stylesheet" href="../media/css/public.css">
        <link rel="stylesheet" type="text/css" href="../media/css/empt.css"/>
	</head>
	<body>
		<div class="is-header">
			<div class="m-gov">
				<a class="fl" href="http://www.ah.gov.cn/" target="_blank">今天是：2019年01月10日 星期四</a>
				<p class="fr"> 
					<a href="javascript:;" class="u-login">用户登录</a> 
					
				</p>
			</div>
			<div class="m-logo">
				<div>
					<img src="../media/images/logo.png" alt="" />
				</div>
				
			</div>
			<div class="m-nav">
				<div class="content">
			      <ul>
			        <li><a href="/" id="nav_home">首页</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">企业信息管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">从业人员管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">企业信用考评管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">从业人员信用考评管理</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">统计分析</a></li>
			        <li><a href="/" id="nav_5ac33d997f8b9a41566561e5">系统管理</a></li>
			      </ul>
			    </div>
			</div>
		</div>
		<div class="is-main">
			<div class="m-employ">
				<div class="m-emhead">
					<h2>从业人员基本信息</h2>
					<div class="u-search">
				        <form method="GET" action="/index.php?c=search">
				          <input class="text" type="text" value="-请输入搜索关键词-" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '-请输入搜索关键词-';}">
				          <input type="submit" class="btn" value=""/>
				          <input name="c" type="hidden" value="search" />
				        </form>
				      </div>
				</div>
				<div class="m-table">
					<table border="" cellspacing="" cellpadding="">
						<tr><th>姓名</th><th>性别</th><th>从业编号</th><th>从业机构</th><th>执业类型</th><th>证书编号</th></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
						<tr><td>韩银萍</td><td>女</td><td>HZ_990010505</td><td>我爱我家房地产经纪有限公司</td><td>全国房地产经纪人</td><td>1527201903113498</td></tr>
					</table>
				</div>
			</div>
		</div>
		<div class="is-footer">
			<p>Copyright © 合肥市房产中介协会 All rights reserved.     <a href="">技术支持：商网信息</a> </p>
		</div>
	</body>
</html>
