<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">	
		<meta name="SiteName" content="" />
		<meta name="SiteDomain" content="" />
		<meta name="SiteIDCode" content="" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>合肥市房产中介协会 </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="../media/css/normalize.css">
		<link rel="stylesheet" href="../media/css/public.css">
		<link rel="stylesheet" href="../media/css/home.css">
	</head>
	<body style="position: absolute;height: 100%;width: 100%;">
		<div class="is-header">
			<div class="m-gov">
				<a class="fl" href="http://www.ah.gov.cn/" target="_blank">今天是：2019年01月10日 星期四</a>
				<p class="fr"> 
					<a href="javascript:;" class="u-login">用户登录</a> 
					
				</p>
			</div>
		</div>
		<div class="is-main">
			<div class="u-logobox">
				<img src="../media/images/logo.png"/>
			</div>
			<div class="m-arrange">
				<div><a href=""><img src="../media/images/sbg.jpg" alt="" /><span>企业信息管理</span></a></div>
				<div><a href=""><img src="../media/images/sbg2.jpg"/><span>从业人员管理</span></a></div>
				<div><a href=""><img src="../media/images/sbg3.jpg"/><span>企业信用考评管理</span></a></div>
				<div><a href=""><img src="../media/images/sbg4.jpg"/><span>从业人员信用考评管理</span></a></div>
				<div><a href=""><img src="../media/images/sbg5.jpg"/><span>统计分析</span></a></div>
				<div><a href=""><img src="../media/images/sbg6.jpg"/><span>系统管理</span></a></div>
			</div>
			<div class="m-foot">
				<p>Copyright © 合肥市房产中介协会 All rights reserved.     技术支持：<a href="">商网信息</a> </p>
			</div>
		</div>
	</body>
</html>
